################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PersistentKernels/.vs
/.vs
/x64/Debug
/PersistentKernels.vcxproj.user
