################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PersistentKernels/.vs
/.vs
/x64/Debug
/x64/Release
/tests
/PersistentKernels.vcxproj.user
/PersistentKernels.args.json
*.txt
